*{
    list-style: none ;
    text-decoration: none ;
    border-collapse: collapse ;
    margin: 0px ;
    padding: 0px ;
    color: black ;
    font-family: 'Noto Sans KR', sans-serif;
}

.wrap > .intro-bg{
    background-color: #5ED0FA ;
    width: 100% ;
    height: 1080px ;  
}
.wrap > .intro-bg > .gnb-wrap{
    width: 1200px ;
    height: 89px ;
    margin: 0 auto ;
   
}
.wrap > .intro-bg > .gnb-wrap > .menu-bar{
    width: 1200px ;
    display: flex ;
    
    margin: 0 auto ;
}
.wrap > .intro-bg > .gnb-wrap > .menu-bar > li{
    flex: 1 ;
    height: 89px ;
    line-height: 89px ;
    text-align: center ;
}

.wrap > .intro-bg > .gnb-wrap > .menu-bar > li > a{
    font-size: 16px ;
}

.wrap > .intro-bg > .gnb-wrap > .menu-bar > li > a > .logo{
    margin: 27px auto;
    background-image: url("../img/애터미\ 로고.png");
    width: 79px ;
    height: 35px ;
    background-color: thistle;
}
.wrap > .intro-bg > .gnb-wrap > .menu-bar > li > a{
    color: white ;
}
.wrap > .intro-bg > .gnb-wrap > .menu-bar > li > a > img{
    height: 35px ;
    width: 78px ;
    margin-top: 27px ;
}
.wrap > .intro-bg > .main-img{
    width: 906px ;
    height: 906px ;
    background-color: white ;
    border-radius: 50% ;
    margin: 0 auto ;
    background-image: url("../img/메인_수정.png");
    background-repeat: no-repeat;
    background-size: cover ;
}
.wrap > .best-product-section {
    width: 1200px ;
    height: 1122px ;
    background-color: thistle ;
    margin: auto ;
}
.wrap > .best-product-section > .content01{
    width: 1200px ;
    height: 318px ;
    background-color: wheat ;
    padding-top: 200px ;
    box-sizing: border-box ;
    padding-left: 60px ;
}
.wrap > .best-product-section > .content01 > .txt01 > h2{
    font-size: 45px ;
    font-weight: 700 ;
}
.wrap > .best-product-section > .content01 > .txt02{
    font-size: 16px ;
    color: #787878 ;
    font-weight: 400 ;
}
.wrap > .best-product-section > .best-product-wrap{
    width: 1200px ;
    margin: auto;
    height: 485px ;
    background-color: rosybrown ;
    padding-top: 141px ;
    box-sizing: border-box ;
}
.wrap > .best-product-section > .best-product-wrap > ul{
    display: flex ;
}
.wrap > .best-product-section > .best-product-wrap > ul > li{
    flex: 1 ;
}
.wrap > .best-product-section > .best-product-wrap > ul > li > a >img{
    width: 300px;
    height: 300px;
}
.wrap > .best-product-section > .best-product-wrap > ul > li > a > .txt01{
    font-size: 16px ;
    font-weight: 500 ;
    text-align: center ;
}

.wrap > .best-product-section > .best-product-wrap > ul > li > a > .txt02{
    margin-top: 16px;
    font-size: 15px ;
    font-weight: 400 ;
    color: #787878 ;
    text-align: center ;
}
.wrap > .slide-banner{
    width: 100% ;
    height: 958px ;
    background-color: #ECFCFF ;
    padding-top: 229px ;
    box-sizing: border-box ;
}
.wrap > .slide-banner > .swiper{
    width: 1200px ;
    height: 500px ;
    margin: auto ;
}
.wrap > .slide-banner > .swiper-wrapper > div {
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:7rem;
    letter-spacing:-10px;
    color:gray;
  }
  
  .wrap > .slide-banner > .swiper-wrapper > .slide-1 {
    background-image: url(../img/main-slide1.jpeg);
    background-size: cover ;
    background-repeat: no-repeat ;
  }
  
  .wrap > .slide-banner > .swiper-wrapper > .slide-2 {
    background-color:#92A9BD;
  }